
<div id="faq-list-1" class="accordion-style2 accordion">
	<div class="accordion-group">
	  <div class="accordion-heading">
		<a href="#faq-1-1" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed">
		  <i class="icon-user bigger-130"></i> High life accusamus terry richardson ad squid?
		</a>
	  </div>
	  <div class="accordion-body collapse" id="faq-1-1">
		<div class="accordion-inner">
		  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
		</div>
	  </div>
	</div>

	<div class="accordion-group">
	  <div class="accordion-heading">
		<a href="#faq-1-2" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed">
		  <i class="icon-sort-by-attributes-alt"></i> Can I have nested questions?
		</a>
	  </div>
	  
	  <div class="accordion-body collapse" id="faq-1-2">
		<div class="accordion-inner">

				<div id="faq-list-nested-1" class="accordion-style2 accordion">
					<div class="accordion-group">
					  <div class="accordion-heading">
						<a href="#faq-list-1-sub-1" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
						   Enim eiusmod high life accusamus terry?
						</a>
					  </div>
					  <div class="accordion-body collapse" id="faq-list-1-sub-1">
						<div class="accordion-inner">
						  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
						</div>
					  </div>
					</div>
					
					<div class="accordion-group">
					  <div class="accordion-heading">
						<a href="#faq-list-1-sub-2" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
						  Food truck quinoa nesciunt laborum eiusmod?
						</a>
					  </div>
					  <div class="accordion-body collapse" id="faq-list-1-sub-2">
						<div class="accordion-inner">
						  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
						</div>
					  </div>
					</div>
					
					<div class="accordion-group">
					  <div class="accordion-heading">
						<a href="#faq-list-1-sub-3" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
						  Cupidatat skateboard dolor brunch?
						</a>
					  </div>
					  <div class="accordion-body collapse" id="faq-list-1-sub-3">
						<div class="accordion-inner">
						  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
						</div>
					  </div>
					</div>
				</div>

		</div>
	  </div>
	</div>

	<div class="accordion-group">
	  <div class="accordion-heading">
		<a href="#faq-1-3" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed">
		  <i class="icon-credit-card bigger-130"></i> Single-origin coffee nulla assumenda shoreditch et?
		</a>
	  </div>
	  <div class="accordion-body collapse" id="faq-1-3">
		<div class="accordion-inner">
		  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
		</div>
	  </div>
	</div>
	<div class="accordion-group">
	  <div class="accordion-heading">
		<a href="#faq-1-4" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed">
		  <i class="icon-copy bigger-130"></i> Sunt aliqua put a bird on it squid?
		</a>
	  </div>
	  <div class="accordion-body collapse" id="faq-1-4">
		<div class="accordion-inner">
		  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
		</div>
	  </div>
	</div>
	<div class="accordion-group">
	  <div class="accordion-heading">
		<a href="#faq-1-5" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed">
		  <i class="icon-cog bigger-130"></i> Brunch 3 wolf moon tempor sunt aliqua put?
		</a>
	  </div>
	  <div class="accordion-body collapse" id="faq-1-5">
		<div class="accordion-inner">
		  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
		</div>
	  </div>
	</div>
	
  </div>
