
body {height: 100%}
html {height: 100%}
 
.navbar .navbar-brand {
	font-size:33px;
}
.menu {
	font-size:12px;
}

.borderLB {
    border: 1px solid #24a699;
}
.navbar.h-navbar {
	border-bottom: 1px solid #CCC;
	box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.15) !important;
}
.navbar {
	min-height: 77px;
}

.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
    color: #2E9888;
}

.helper {
    display: inline-block;
    vertical-align: middle;
}

.carousel-inner {
	/*height: 90%;*/      /* equals max image height */
    white-space: nowrap;
    text-align: center; 
        margin:auto;
}
.carousel-inner .item {
height: 100%;
padding-top: 10%;
padding-left: 10%;
}
.carousel-inner .item img {
    vertical-align: middle;
    /*max-height: 900px;*/
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	margin-top:100px;
	padding:0;
}

.carousel {
    position: relative;
    width: 100%;
    height: 88%;
}
.carousel h2 {
	font-family: "Maven Pro",sans-serif;
	font-size:31px;
	font-weight: bold;
	text-align: left;

}
.carousel .slideshow-text {
	color:#fff;
}
.carousel .slideshow-text h3{
	font-size:29px;
	text-align: left;
}

.carousel .slideshow-text span{
	font-weight: bold
}
.carousel .slideshow-text h4{
	font-size:20px;
	text-align: left;
}
.carousel .slideshow-text h1{
	font-size:39px;
	text-align: left;
}
.conheca {
	color:#1b5147;
}
.organize {
	color:#9b1e1f;
}
.analise {
	color:#1c5f30;
}
.encontre {
	color:#08589d;
}

.carousel-control.right {
	background-image:none;
}
.carousel-control.left {
	background-image:none;
}
.content-box {
	background-color:#e8e7e7;
}
.breadcrumbs {
	background-color:inherit;
	padding: 13px 0px 11px 5px;
}
.no-skin .sidebar{
	border:0;
	background-color:inherit;
	margin-top: 27px;
}

.component {width:70%;}
.breadcrumb  li  a {
    font-size: 22px;
    color: #666;
}
label {color: #ED683D;}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
	border-left: 2px solid #ED683D;
	background-color: #fff;
}

.nav-tabs  li.active  a, .nav-tabs  li.active  a:hover, .nav-tabs  li.active  a:focus {
	border-top:0;
	box-shadow:none;

}

.nav-tabs  li {
    margin-bottom: -1px;
    width: 100%;
}

.nav-tabs li a, .nav-tabs li a:focus {
	background-color:none;
}

.nav-tabs li a, .nav-tabs li a:focus {
		border-color: #ED683D ;
}
.tab-content {
	border:0;
}
.nav-tabs  li a, .nav-tabs  li  a:focus {
	color: #ED683D;
}

.nav-tabs li a:hover {
		background-color:none;
}