<form id="id-message-form" class="hide form-horizontal message-form">
	<div class="control-group">
		<label class="control-label" for="form-field-recipient">Recipient:</label>
		<div class="controls">
			<span class="input-icon">
				<input type="email" name="recipient" id="form-field-recipient" data-value="alex@doe.com" value="alex@doe.com" placeholder="Recipient(s)" />
				<i class="icon-user"></i>
			</span>
		</div>
	</div>

	<div class="hr hr-16 dotted"></div>

	<div class="control-group">
		<label class="control-label" for="form-field-subject">Subject:</label>
		<div class="controls">
			<span class="input-icon span8">
				<input maxlength="100" type="text" class="span12" name="subject" id="form-field-subject" placeholder="Subject" />
				<i class="icon-comment-alt"></i>
			</span>
		</div>
	</div>

	<div class="hr hr-16 dotted"></div>

	<div class="control-group">
		<label class="control-label"><span class="inline space-16 hidden-480"></span>Message:</label>
		<div class="controls">
			<div class="wysiwyg-editor"></div>
		</div>
	</div>

	<div class="hr hr-16 dotted"></div>

	<div class="control-group no-margin-bottom">
		<label class="control-label">Attachments:</label>
		<div class="controls">
			<div id="form-attachments">
				<input type="file" name="attachment[]" />
			</div>
		</div>
	</div>

	<div class="control-group">
		<div class="align-right">
			<button id="id-add-attachment" type="button" class="btn btn-small btn-danger"><i class="icon-paper-clip bigger-140"></i> Add Attachment</button>
		</div>
	</div>
</form>