<div class="align-right">
	<span class="green middle bolder">Choose timeline: &nbsp;</span>
	<div class="btn-toolbar inline middle no-margin">
		<div data-toggle="buttons-radio" class="btn-group no-margin">
			<button class="btn btn-small btn-yellow active"><span class="bigger-110">1</span></button>
			<button class="btn btn-small btn-yellow"><span class="bigger-110">2</span></button>
		</div>
	</div>
</div>


<div id="timeline-1">
 {{> page.style_1}}
</div>


<div id="timeline-2" class="hide">
 {{> page.style_2}}
</div>
